/* Use your own code or past solution for Great Idea Web Page CSS here! */

@import url("https://fonts.googleapis.com/css?family=Montserrat:500");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
/***************************************************************************************/
/**************************************************************************************/
/* Copy and paste your work from yesterday here and start to refactor into flexbox */

* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 0 auto;
}
header,
main,
footer {
  align-content: center;
}
header {
  position: sticky;
}
header,
nav {
  display: flex;
  width: 100%;
}
nav ul {
  display: flex;
  justify-content: space-around;
  align-content: center;
  width: 70%;
  padding-right: 10%;
}
nav ul li {
  justify-content: flex-start;
  font-weight: bold;
  padding: 0;
  margin: 20px auto;
}
nav ul li a {
  text-decoration: none;
  color: gray;
}
nav > a {
  padding: 5px 0px;
}
.active {
  color: red;
}
nav ul li a:hover {
  background-color: black;
  border: 1px solid yellow;
  border-radius: 25px;
  padding: 2px;
  text-decoration: none;
}
nav .logo:hover {
  border-radius: 25px;
  background-color: yellow;
}
#container1 {
  display: flex;
  justify-content: space-around;
  padding: 80px 90px 80px 60px;
}
div.top-content-left {
  width: 50%;
}
#container1 > div > h1 {
  font-size: 70px;
  text-align: center;
}
#start-btn {
  margin: 10px 35%;
  color: black;
  padding: 5px 0;
  font-weight: bold;
  border: 1px solid black;
  width: 40%;
  height: 12%;
}
.top-content-left > h1 {
  font-family: "Montserrat", Roboto;
}
.middle-content {
  display: flex;
}
div.middle-column {
  width: 50%;
  margin: 30px 100px 40px 0;
}
.middle-img {
  width: 100%;
}
.bottom-content {
  display: flex;
}
div.bottom-column {
  width: 33%;
  margin: 30px 60px 30px 0;
}
address {
  padding: 20px;
}
#cpyrght {
  text-align: center;
}
/************************************************/
/*Services.html*/
section#svcs-top {
  display: flex;
  flex-direction: column;
}
.services-header-img {
  width: 100%;
  border: 2px solid red;
}
#svcs-top {
  display: flex;
  border-bottom: 2px solid;
}
#svcs-top > div {
  margin: 20px 0px;
  width: 100%;
}
div#svcs-mid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: center;
}
#svcs-mid > div {
  width: 35%;
  height: 250px;
  border: 1px solid;
  padding: 10px;
  margin: 15px 0px;
  display: flex;
  flex-direction: column;
}
#svcs-mid div > button {
  align-self: flex-start;
  height: 40px;
  width: 150px;
  margin: auto 0;
  background-color: white;
  border-style: outset;
}
section#bttm-content {
  /*padding: 20px 15px;*/
  border-top: 3px solid black;
  width: 100%;
}
section#bttm-content div {
  margin: 0 auto;
  width: 48%;
}
#bttm-content > div > ul {
  list-style-type: georgian;
  list-style-position: inside;
  list-style: circle;
}
#bttm-content > div {
  display: inline-block;
  width: 49%;
  max-width: 100%;
}
/*end of services.html styling*/
/**************************************/

@media (max-width: 500px) {
  /* start of phone styles */
  body {
    width: 500px;
  }
  nav {
    display: flex;
    flex-direction: column-reverse;
  }
  .navlist {
    padding: 0;
  }
  nav > a {
    align-self: center;
    width: 100%;
    padding: 0 0 5% 25%;
    border-bottom: 1px solid black;
  }
  nav ul {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  nav ul li {
    width: 100%;
    border-bottom: 1px solid black;
    padding: 0 0 5% 0;
    text-align: center;
  }
  nav ul li a {
    text-decoration: none;
    color: gray;
  }
  .top-content #container1 {
    padding: 0px;
  }
  #container1 > div > h1 {
    font-size: 50px;
    text-align: center;
  }
  .top-content-left {
    width: 50%;
    font-size: 60%;
    padding-top: 0;
  }
  .top-content-right {
    display: none;
  }
  .middle-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
  .middle-content .middle-column {
    text-align: center;
    align-content: center;
  }
  .middle-content img.middle-img {
    width: 100%;
  }
  .bottom-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
}
